@use "../../source/scss/base/theme" as *;
@use "../../source/scss/base/mixins" as *;
@use "../../source/scss/base/extends" as *;
@use "../../source/scss/base/functions" as *;

.textonly {
	position: relative;

	&:has(+ .downloads),
	&:has(+ .textonly) {
		margin-bottom: 2rem;
	}

	+ .textonly {
		margin-top: 2rem;
	}

	h1 {
		margin-bottom: 1rem;

		@include desktop {
			margin-bottom: 2rem;
		}
	}

	h2,
	h3 {
		margin-bottom: rem-calc(16);
		margin-top: rem-calc(48);
	}

	.text {
		img {
			margin-block: rem-calc(40);
		}
	}
}
