@use "../../source/scss/base/theme" as *;
@use "../../source/scss/base/mixins" as *;
@use "../../source/scss/base/extends" as *;
@use "../../source/scss/base/functions" as *;

.contact-card {
	background-color: $color-white;
	display: flex;
	flex-direction: column;
	gap: clamp-calc(16, 24);
	padding: clamp-calc(16, 24);
	position: sticky;
	top: 3rem;

	.title-wrapper {
		h3 {
			margin-bottom: 0;
		}
	}

	.content-wrapper {
		display: flex;
		flex-direction: column;
		gap: clamp-calc(16, 24);

		.contact-details {
			display: flex;
			flex-direction: column;
			order: 3;

			a {
				color: $color-black;
				font-size: rem-calc(18);

				&:hover,
				&:focus {
					color: $color-primary;
					text-decoration: underline;
				}
			}
		}

		.contact-info {
			order: 2;

			p {
				font-size: rem-calc(14);
			}

			p,
			h4 {
				margin-bottom: 0;
			}
		}

		.card-header {
			border-radius: 9999px;
			height: 4rem;
			order: 1;
			overflow: hidden;
			position: relative;
			width: 4rem;

			img {
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}
	}
}
