@use "../../source/scss/base/theme" as *;
@use "../../source/scss/base/mixins" as *;
@use "../../source/scss/base/extends" as *;
@use "../../source/scss/base/functions" as *;

.location-marker-card {
	.wrapper {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;

		span,
		p {
			display: block;
			font-size: 1rem;
		}

		a {
			font-size: 1rem;
			font-weight: 700;
			text-decoration: underline;
		}
	}
}